<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section>
        <nav>
            <ul>
                <li><a id="a1" href="#article-test-1">go to article 1</a></li>
                <li><a id="a2" href="#article-test-2">go to article 2</a></li>
                <li><a id="a3" href="#article-test-3">go to article 3</a></li>
                <li><a id="a4" href="#article-test-4">go to article 4</a></li>
                <li><a id="a5" href="#article-test-5">go to article 5</a></li>
                <li><a id="a6" href="#article-test-6">go to article 6</a></li>
                <li><a id="a7" href="#article-test-7">go to article 7</a></li>
                <li><a id="a8" href="#article-test-8">go to article 8</a></li>
                <li><a id="a9" href="#article-test-9">go to article 9</a></li>
                <li><a id="a10" href="#article-test-10">go to article 10</a></li>
            </ul>
        </nav>
        <article id="article-container">
            <main id="article-toread"></main>
        </article>
    </section>
    <section>
        <article class="articles" id="article-test-1">
            alskjdfal;ksdjf;alksdjfa;lksdjf;alksdjfaasfdk;as
            askdjfalskdjf;askdjfalskdjf
            aksjfdlkasjdflkasjdflaksjdf
        </article>
        <article class="articles" id="article-test-2">
            209341290841902384-1902834-1902834-1234
            123491023840192384-1293841028340198234
            1234192340192840129834
        </article>
        <article class="articles" id="article-test-3">
            1p234jlk1j243lk12j34kl12j34lkj1234
            123k4j1lk2j341kl2j34kl12j341
            324k1l2j34lk12j34lk12j43l
        </article>
        <article class="articles" id="article-test-4">
            !@#$!@#$@%@$!#$!@#$@#article-test-1%!@#%%
            !@#%!@%#!@#%!@#%!@%!@#%%
            1#%!#@%!@%!#@%!@%!@35
        </article>
        <article class="articles" id="article-test-5">
            lafjalskjdfalksdjf""L??"OPK:IJ)(#@)($*@)_(#$*_@)(#$*_@)#($*_@#($UOFIJELKFJ:KDSJF:SDKLFJ()#%%
            )#(@$)@(*$)(*$)@(*$KLSJDF:KDSJFFEWJLKSDJF
            aksdjfklasjdf;aksdjf;aksjf;askdjfalskdjffasdfjk;)))
        </article>
        <article class="articles" id="article-test-6">
            jkasjdfkasjdflkasjdfkljas091234102984-1290834-9@#$!@#$!@#$!@#$
            123$!@#$!@#$!@#$!@#$
        </article>
        <article class="articles" id="article-test-7">
            makesense1makesense1makesense1makesense1makesense1makesense1
            makesense1makesense1makesense1makesense1makesense1makesense1makesense1
            makesense1makesense1makesense1makesense1makesense1makesense1makesense1
            makesense1makesense1makesense1makesense1makesense1makesense1makesense1makesense1
            makesense1makesense1makesense1makesense1makesense1makesense1makesense1
            makesense1makesense1makesense1makesense1makesense1makesense1
        </article>
        <article class="articles" id="article-test-8">
            makesense2makesense2makesense2makesense2makesense2makesense2makesense2
            makesense2makesense2makesense2makesense2makesense2makesense2makesense2
            makesense2makesense2makesense2makesense2makesense2makesense2makesense2makesense2
            makesense2makesense2makesense2makesense2makesense2makesense2makesense2makesense2
            makesense2makesense2makesense2makesense2makesense2makesense2makesense2makesense2
        </article>
        <article class="articles" id="article-test-9">
            makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3
            makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3
            makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3
            makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3
            makesense3makesense3makesense3makesense3makesense3makesense3makesense3makesense3
        </article>
        <article class="articles" id="article-test-10">
            makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4
            makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4
            makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4
            makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4
            makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4makesense4
        </article>
    </section>
    <script src="./app.js"></script>
</body>
</html>