#article-container {
    width: 99vw;
    height: 5500px;
    background-color: black;
    position: absolute;
    top: 0;
}
#article-toread {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a {
    color: black;
    z-index: 1;
    position: absolute;
}
.articles {
    width: 99vw;
    height: 5500px;
    position: absolute;
    top: 0;
}
#article-test-1 {
background-color: green;
}
#article-test-2 {
background-color: wheat;
}
#article-test-3 {
background-color: violet;
}
#article-test-4 {
background-color: turquoise;
}
#article-test-5 {
background-color: tomato;
}
#article-test-6 {
background-color: teal;
}
#article-test-7 {
background-color: springgreen;
}
#article-test-8 {
background-color: slategray;
}
#article-test-9 {
background-color: skyblue;
}
#article-test-10 {
background-color: sandybrown;
}