<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./component2.css">
</head>
<body>
    <div class="component2">
        <div class="cardsComp">
                <div class="cardComp">
                    <div class="cardCompFlip">
                        <div class="cardCompFront">5</div>
                        <div class="cardCompBack"></div>
                    </div>
                </div>
                <div class="cardComp">
                    <div class="cardCompFlip">
                        <div class="cardCompFront">K</div>
                        <div class="cardCompBack"></div>
                    </div>
                </div>
                <div class="cardComp">
                    <div class="cardCompFlip">
                        <div class="cardCompFront">J</div>
                        <div class="cardCompBack"></div>
                    </div>
                </div>
                <div class="cardComp">
                    <div class="cardCompFlip">
                        <div class="cardCompFront">6</div>
                        <div class="cardCompBack"></div>
                    </div>
                </div>
        </div>
        <div class="pickCards"></div>
        <div class="playgroundCards"></div>
        <div class="cardsHuman">
            <div class="cardHuman">A</div>
            <div class="cardHuman">Q</div>
            <div class="cardHuman">7</div>
            <div class="cardHuman">4</div>
        </div>
        <div class="controls">
            <button id="play">Play</button>
            <!-- <button id="pick">Pick</button> -->
        </div>
    </div>
    <script src="./component2.js"></script>
</body>
</html>