<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./component1.css">
</head>
<body>
    <div class="component1">
        <div id="dots" class="component1backgrounddots">
        </div>
    </div>
    <div class="code-quotes-container">
        <div class="code-quotes-content">
            <h1 class="quote">
                "asfjkasjdf;aksdjf;aksfasasdf;
                jaksflja;skldjfa;skldakldasdjf
                asflkjas;lkfjas;kldfjas;lkasff
                asdflkas;kdlfjas;lkdfjadksas;;"
            </h1>
            <h1 class="quote-author">Quote By: asfasfsdfsfdasdfasfasfd</h1>
        </div>
        <div class="code-quote-nav">
            <button id="left" class="code-quote-button">
                <div class="left1"></div>
                <div class="left2"></div>
                <div class="left3"></div>
            </button>
            <button id="right">
                <div class="right1"></div>
                <div class="right2"></div>
                <div class="right3"></div>
            </button>
        </div>
    </div>
    <script src="./component1.js"></script>
</body>
</html>